html, body { margin: 0; padding: 0; }
ul { margin: 0; padding: 0; list-style-type: none; }

header { background-color: #ececec; border-bottom: 1px solid #cdcdcd; }
header nav ul li { display: inline-block; }
header nav ul li a { padding: 10px 20px; display: block; color: #5a5a5a; text-decoration: none; 
text-transform: uppercase; font-size: 90%; }
header nav ul li span { padding: 10px 20px; display: block; color: white; text-decoration: none; 
text-transform: uppercase; font-size: 90%; background-color: limegreen; }
header nav ul li a:hover { background-color: limegreen; color: white; }

table.irregular-verbs { margin-top: 25px; }
.infinitive { color: lightgrey; background-color: lightgrey; cursor: help; }
.infinitive:hover { color: black; background-color: white; }
.past { color: lightgrey; background-color: lightgrey; cursor: help; }
.past:hover { color: black; background-color: white; }
.past-participle { color: lightgrey; background-color: lightgrey; cursor: help; }
.past-participle:hover { color: black; background-color: white; }
table.irregular-verbs input[type=text] { width: 100px; }

table.vocabulary { margin-top: 25px; }
.word-en { color: lightgrey; background-color: lightgrey; cursor: help; }
.word-en:hover { color: black; background-color: white; }
table.vocabulary input[type=text] { width: 200px; }
