.WordCard {
    font-size: 150%;
}

.WordCard .pos {
    text-align: right;
    color: teal;
    margin-bottom: 30px;
}

.WordCard .ukr {
    text-align: center;
}

.WordCard .type {
    text-align: center;
    font-size: 70%;
    font-style: italic;
    color: grey;
    margin: 20px 0 0px 0;
}

.WordCard .eng {
    text-align: center;
    color: limegreen;
    margin: 20px 0 30px 0;
}

.WordCard .translation {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: royalblue;
    text-align: center;
    margin: 25px 0 25px 0;
    padding: 8px 10px 8px 10px;
    border: 1px solid lightgrey;
    width: 318px;
    border-radius: 5px;
        -moz-border-radius: 5px; 
        -webkit-border-radius: 5px;
    box-shadow: 0px 0px 5px 1px lightgrey;
        -webkit-box-shadow: 0px 0px 5px 1px lightgrey;
        -moz-box-shadow: 0px 0px 5px 1px lightgrey;
}

.WordCard .wrong {
    color: tomato;
}

.WordCard .translation:focus {
    outline: none;
}

.btn-check {
    background-color: white;
    display: block;
    margin: 0 auto;
    color: grey;
    border: none;
    padding: 10px 15px 10px 15px;
    font-size: 0.8em;
    cursor: pointer;
    border: 1px solid lightgrey;
    border-radius: 8px;
        -moz-border-radius: 8px; 
        -webkit-border-radius: 8px;
}

.btn-check:focus,  
.btn-check:hover {
    outline: none;
    background-color: royalblue;
    border-color: royalblue;
    color: white;
}